<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mehme.ilacsaati">
    //android:installLocation="preferExternal"
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_alarmhap"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity
            android:name=".MainActivity"
            android:parentActivityName=".girisActivity"
            />

        <receiver
            android:name=".myBroadcast"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".uygulamaBaslat"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="my.action.string" />
            </intent-filter>
        </receiver>

        <activity android:name=".girisActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ilacKaydetActivity"
            android:parentActivityName=".girisActivity" />
        <activity
            android:name=".ilacListeActivity"
            android:parentActivityName=".girisActivity" />
        <activity
            android:name=".ilacAldinMiActivity"
            android:parentActivityName=".girisActivity" />
        <activity
            android:name=".alarmListActivity"
            android:parentActivityName=".girisActivity" />
        <activity
            android:name=".ilacGunuBitiyorActivity"
            android:parentActivityName=".girisActivity" />
        <activity
            android:name=".HastaneRandevuActivity"
            android:parentActivityName=".girisActivity" />
        <activity
            android:name=".acilNumberActivity"
            android:parentActivityName=".girisActivity" />
        <activity
            android:name=".RandevuKaydetActivity"
            android:parentActivityName=".girisActivity" />
        <activity
            android:name=".randevuListActivity"
            android:parentActivityName=".girisActivity" />
        <activity
            android:name=".olcumKaydetActivity"
            android:parentActivityName=".girisActivity" />
        <activity
            android:name=".agirlikOlcumActivity"
            android:parentActivityName=".olcumKaydetActivity" />
        <activity
            android:name=".kanSekeriActivity"
            android:parentActivityName=".olcumKaydetActivity" />
        <activity
            android:name=".adimSayActivity"
            android:parentActivityName=".olcumKaydetActivity" />
        <activity
            android:name=".nabizSayActivity"
            android:parentActivityName=".olcumKaydetActivity" />
        <activity
            android:name=".kanBasinciActivity"
            android:parentActivityName=".olcumKaydetActivity" />
        <activity
            android:name=".tuketilenKaloriActivity"
            android:parentActivityName=".olcumKaydetActivity" />
        <activity
            android:name=".harcananKaloriActivity"
            android:parentActivityName=".olcumKaydetActivity" />
        <activity android:name=".kolestrolActivity" />
        <activity
            android:name=".vucutSicakligiActivity"
            android:parentActivityName=".olcumKaydetActivity" />

        <activity android:name=".informationActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>


    </application>

</manifest>